/* ----------------------------------------------NAVBAR STYLES-------------------------------------------------- */
.Header {
  padding: 4px 5px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  background-color: #1c062e;
  color: white;
}
.PageLogo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-left: 35px;
  font-size: x-large;
}
.PageLogo svg {
  color: #9315c8;
}
.NavBarLinks {
  margin: 0;
  padding: 13px 10px;
}
.NavBarLinks a {
  margin: 0;
  padding: 17px;
  color: white;
  text-decoration: none;
}
.NavBarLinks a:hover {
  background-image: linear-gradient(to bottom, #ff3694, #9315c8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: color 0.3s;
}
.nav-link {
  text-decoration: none;
}
.nav-link.active {
  border-bottom: 4px solid #9315c8;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------FOOTER STYLES---------------------------------------------------- */
.Footer {
  background-color: #1c062e;
  margin-top: auto;
  padding: 10px;
  text-align: center;
  font-size: large;
}
.Footer a {
  padding: 10px;
  text-decoration: none;
  color: white;
}
.footer-link {
  text-decoration: none;
}
.footer-link.active {
  border-bottom: 1px solid #ffffff;
}
.FooterLinks {
  padding: 15px;
}
.Footer p {
  border-top: 1px solid #ffffff;
  padding: 10px;
}

/* ------------------------------------------------------------------------------------------------------------- */

h1 {
  padding: 20px;
}

.wrapper {
  position: relative; /* This ensures the pseudo-element is positioned relative to this element */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* This positions the pseudo-element behind the actual content */

  background-image: url("/BackgroundSGM.jpg");
  background-size: cover;
  animation: pulse 4.5s infinite alternate;

  filter: blur(5px); /* This blurs the background image of the pseudo-element */
}

@keyframes pulse {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.events-container {
  padding: 20px;
  max-width: 1200px; /* Or whatever you'd like the max width to be */
  margin: 0 auto; /* Centers the container if the screen width is larger than max-width */
}

.refresh-button {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 20px;
  background-color: #007bff; /* A generic blue, adjust to your theme */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.refresh-button:hover {
  background-color: #0056b3; /* Darken the blue color a bit on hover */
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  gap: 20px; /* Gap between each event card */
}

.event-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ddd; /* A light border around each card */
  border-radius: 4px; /* Rounded corners for each card */
  transition: transform 0.3s ease; /* Optional: A little scale effect on hover */
}

.event-card:hover {
  transform: scale(1.05);
}

.event-card img {
  display: block;
  width: 100%;
  border-radius: 4px 4px 0 0; /* Rounded corners for the top part of image */
  transition: all 0.3s ease;
}

.event-card .hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.event-card:hover img {
  filter: brightness(80%);
}

.event-card:hover .hover-overlay {
  opacity: 1;
}

/* ----------- EventsForm Styles ----------- */


/* ----------- EventsTable Styles ----------- */
.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 20px;
}

table {
  width: 80%;
  max-width: 800px;
  margin: auto;
  border-collapse: collapse;
  background-color: grey;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  font-size: 0.9em;
}

thead {
  background-color: #9315c8;
  color: white;
}

.title {
  margin: 2% 0 2% 2%;
}

/* ----------- Mapa ----------- */

.mapPos {
  background-image: url("madeiraMapa.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 92%;
  transform: scale(0.5);
  position: absolute;
}

.mapPos button {
  font-size: xx-large;
}

.mapNeedle:hover > .locationButton {
  display: block;
}

.mapNeedle:hover > .ciLocationOn:hover {
  display: none;
}

.mapNeedle {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 75px;
  align-items: center;
}

.locationButton {
  display: none;
}

.mapNeedle .ciLocationOn {
  transition: opacity 0.3s; /* Add a transition for a smooth effect */
}

.mapNeedle:hover .ciLocationOn {
  opacity: 0;
}

/* ----------- Página dos eventos ----------- */

.event-content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2%;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------ADMIN STYLES---------------------------------------------------- */

.FormPlacement {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-bottom: 100px;
}
.FormContainer {
  display: flex;
  background-color: white;
  border-radius: 18px;
  height: 430.5px;
  position: relative; /* Añade esta propiedad */
}
.LeftForm {
  display: flex;
  justify-content: center;
}
.FormInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  right: 30px;
}
.FormInputs p {
  color: black;
  margin: 20px;
  font-size: xx-large;
  font-weight: 600;
}
.FormInputs svg {
  color: black;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: left;
  color: black;
}
input {
  padding: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}
.FormInputs div {
  margin-bottom: 20px;
}
.LoginButtom {
  margin-bottom: 10px;
  font-weight: 400;
  background: #ffffff;
  color: #9315c8;
  padding: 12px 65px;
  border: 2px solid;
  border-color: #9315c8;
  border-radius: 30px;
  cursor: pointer;
}
.LoginButtom:hover {
  background-image: linear-gradient(to bottom, #9315c8, #ff3694);
  border: 2px solid #9315c8;
  color: white;
  transition: color 0.45s;
}
svg {
  position: relative;
  right: 10px;
}
.ProfileIcon {
  height: 100px;
  width: 100px;
}
.HumanIcon {
  width: 350px;
  height: 350px;
  position: absolute;
  z-index: 2;
  top: 30px;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------FORM EVENTS STYLE------------------------------------------------- */

form {
  max-width: 750px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 5px,#333;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  border: 1px solid rgb(209, 209, 209);
  color: #ffffff;
}

form label {
  font-weight: 700;
  font-size: larger;
  margin: 10px 15px 10px 15px;
  display: block;
  color: rgb(255, 255, 255);
}

form input[type="text"],
form input[type="date"],
form textarea,
form select {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #ffffff;
  transition: border-color 0.3s;
}

form input[type="text"]:focus,
form input[type="date"]:focus,
form textarea:focus,
form select:focus {
  border: 2px solid #9315c8;
  outline: none;
}

form select{
  width: 101%;
}
form input[type="date"],
form textarea{
  width: 98%;
  max-width: 98;
}
form input[type="text"]{
  width: 98%;
}

.MediaContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.SpotifyContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.AlignRemove{
  display: flex;
  align-items: center;
}
.AlignRemove button{
  margin-top: 40px;
}

form button {
  position: relative;
  padding: 10px 10px;
  background-color: #9315c8;
  margin: 10px 15px 10px 15px;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden; /* Ensure the fake element does not overflow */
  z-index: 1;
}

/* Fake element with the gradient color above the button */
form button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #9315c8, #ff3694);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
}

/* Make the fake element visible */
form button:hover::before {
  opacity: 1;
}

.buttonContainer {
  display: flex;
  column-gap: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.hideFileInput {
  display: none;
}
.fileInputLabel {
  padding: 10px 10px;
  background-color:#9315c8;
  margin: 10px 15px 10px 15px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.fileInputLabel::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #9315c8, #ff3694);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
}

.fileInputLabel:hover::before {
  opacity: 1;
}

.AddEvent{
  padding: 15px 20px;
  background-color:#9315c8;
  margin: 10px 30px 10px 30px;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* ------------------------------------------------------------------------------------------------------------- */

.titleDescription {
  margin-left: 2%;
  text-align: justify;
}

.subtitles {
  font-weight: normal;
}

.event-content-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content {
  text-align: center;
}

.imgEvent {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tableEvent {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  width: auto;
  text-align: center;
}

.link {
  color: white;
}

.link:hover {
  color: #9315c8;
}


/* Resetting the styles of spotifyContainer */
.spotifyContainer {
  position: fixed;
  top: 100px;
  width: 450px;
  right: 0px;
}

/* Styles for individual Spotify components */
.spotifyContainer .Spotify {
  width: 450px;
  right: -370px;
  position: relative;
  transition: right 0.3s ease;
  margin-bottom: 10px;
}

/* Hover effect for individual Spotify components */
.spotifyContainer .Spotify:hover {
  right: 0px;
}

