/* ----------------------------------------------NAVBAR STYLES-------------------------------------------------- */
.Header{
  padding: 4px 5px;
  display: flex;
  justify-content: space-between ;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  background-color: #1c062e;
  color: white;
}
.PageLogo{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-left: 35px;
  font-size: x-large
}
.PageLogo svg{
  color: #9315C8;
}
.NavBarLinks{
  margin: 0;
  padding: 13px 10px;
}
.NavBarLinks a {
  margin: 0;
  padding: 15px;
  color: white;
  text-decoration: none;
}
.NavBarLinks a:hover {
  background-image: linear-gradient(to bottom, #FF60AA, #9315C8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; /* Hacer el texto transparente para que se vea el degradado detrás */
  transition: color 0.3s; /* Transición suave para el cambio de color del texto */
}
.nav-link {
  text-decoration: none;
}
.nav-link.active {
  border-bottom: 4px solid #9315C8;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------FOOTER STYLES---------------------------------------------------- */
.Footer{
  background-color: #1c062e;
  margin-top: auto;
  padding: 10px;
  text-align: center;
  font-size: large;
}
.Footer a{
  padding: 10px;
  text-decoration: none;
  color: white;
}
.FooterLinks{
  padding: 15px;
}
.Footer p{
  border-top: 1px solid #ffffff;
  padding: 10px;
}


/* -----------------------------------------ADMIN STYLES------------------------------------------------------------- */

.FormPlacement {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-bottom: 100px;
}
.FormContainer {
  display: flex;  
  background-color: white;
  border-radius: 18px;
  height: 430.5px;
}
.FormInputs {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 10px;
  position: relative;
  right: 30px;
}
.FormInputs p {
  color: black;
  margin:20px;
  font-size: xx-large;
  font-weight: 600;
}
.FormInputs svg{
  color:black;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: left;
  color: black;
}
input {
  padding: 5px;
  /* margin-bottom: 25px; */
  width: 100%; 
  border: none;
  border-bottom: 1px solid black;
}
.FormInputs div{
  margin-bottom: 20px;
}
.LoginButtom {
  margin-bottom: 10px;
  font-weight: 400;
  background: #ffffff; 
  color: #9315C8;
  padding: 12px 65px;
  border: 2px solid;
  border-color: #9315C8;
  border-radius: 30px;
}
.LoginButtom:hover{
  background-image: linear-gradient(to bottom, #9315C8, #FF60AA );
  border: 2px solid #9315C8;
  color: white;
  transition: color 0.45s
}
svg {
  position: relative;
  right: 10px;
  bottom: 1px;
  
}
.ProfileIcon{
  height: 100px;
  width: 100px;
}
.HumanIcon {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 270px; 
  left: 380px; 
  z-index: 1; 
}
/* ------------------------------------------------------------------------------------------------------------- */
h1{
  padding: 20px;
}

.wrapper {
  position: relative; /* This ensures the pseudo-element is positioned relative to this element */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* This positions the pseudo-element behind the actual content */

  background-image: url('/BackgroundSGM.jpg');
  background-size: cover;
  animation: pulse 4.5s infinite alternate;

  filter: blur(5px); /* This blurs the background image of the pseudo-element */
}

@keyframes pulse {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.events-container {
  padding: 20px;
  max-width: 1200px; /* Or whatever you'd like the max width to be */
  margin: 0 auto; /* Centers the container if the screen width is larger than max-width */
}

.refresh-button {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 20px;
  background-color: #007BFF; /* A generic blue, adjust to your theme */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.refresh-button:hover {
  background-color: #0056b3; /* Darken the blue color a bit on hover */
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  gap: 20px; /* Gap between each event card */
}

.event-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ddd; /* A light border around each card */
  border-radius: 4px; /* Rounded corners for each card */
  transition: transform 0.3s ease; /* Optional: A little scale effect on hover */
}

.event-card:hover {
  transform: scale(1.05);
}

.event-card img {
  display: block;
  width: 100%;
  border-radius: 4px 4px 0 0; /* Rounded corners for the top part of image */
  transition: all 0.3s ease;
}

.event-card .hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
}

.event-card:hover img {
  filter: brightness(80%);
}

.event-card:hover .hover-overlay {
  opacity: 1;
}

/* ----------- EventsForm Styles ----------- */
form {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* Label styles */
form label {
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
  color: black;
}

/* Input and Textarea styles */
form input[type="text"],
form input[type="date"],
form textarea,
form select {
  width: 95%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

form input[type="text"]:focus,
form input[type="date"]:focus,
form textarea:focus,
form select:focus {
  border-color: #9315C8;
  outline: none;
}

/* Button styles */
form button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #FF60AA;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button[type="submit"]:hover {
  background-color: #9315C8;
}

/* ----------- EventsTable Styles ----------- */
.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 20px;
}

table {
  width: 80%;
  max-width: 800px;
  margin: auto;
  border-collapse: collapse;
  background-color: grey;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  font-size: 0.9em;
}

thead {
  background-color: #9315C8;
  color: white;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f44336;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* button:hover {
  background-color: #e3301f;
}


.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.fileInputLabel {
  padding: 6px 6px;
  border: none;
  border-radius: 4px;
  background-color: #f44336;
  margin-bottom: 0px;
  color: #ffffff;
  cursor: pointer;
  font-weight: normal;
  transition: background-color 0.3s;
  display: inline-block;  /* makes sure label behaves like a button */
  text-align: center;     /* centers the text in the label/button */
}

.fileInputLabel:hover {
  background-color: #e3301f;  /* slightly darker pink for hover effect */
}

.hideFileInput {
  display: none;
}
