@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Jost:wght@500&family=Montserrat:wght@500&family=Oxygen&family=Roboto:wght@100;500&display=swap');
:root {
  font-family: 'Montserrat';
  line-height: 1.5;
  font-weight: 350;
  margin: 0;
  color: white;
}

body {
  margin: 0;
  background-color: grey;
}
